

#subj{
    width: 36%;

}
#cost{
    width: 20%;
}
#date{
    width: 22%;
}
#photo{
    width: 10%;  }
#num{
    background: #6fb679;
    font-style: oblique;
    font-weight: bold;
    /*font-size: large;*/
    color: #ffffff;
    width: 7%;
    text-align:center;
    border: none;
    }



.inner_case{
    float: left;
    width: 15%;
    height: 40px;
    padding-left: 5px;
}
.inner_byu{
    float: right;
    width: 15%;
    height: 40px;
    padding-left: 5px;
}

.case p{
    font-style: oblique;
    font-weight: bold;
    font-size: large;
    /*color: #ffffff;*/
    text-align:center;
    top: 20px;
    margin-top: 25px;

}
.foto{
    float: left;
    margin: 15px;
    border: solid black 5px;
    width: 30%;
    /*height: 30%;*/
}
.spisok{
    float: left;
    width: 50%;
}
.case-w{
    background: rgb(172, 226, 255);
    /*border: 3px solid rgba(82, 82, 82, 0.75);*/
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 98%;
    box-shadow: 0 0 20px rgba(0,10,0,.3);
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    /*color: #666;*/
    height: auto;
}


.data{
    float: left;
    margin: 15px, 15px;
    border: solid black 5px;

}
.llist{
    /*float: left;*/
    font: 12px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    margin-top: 10px;

}
.inner-head{
    float: left;
    height: 30px;
    padding-left: 5px;
    border-left: dashed;
    border-color: rgba(248,248,248,.9);
}

.inner{
    float: left;
    height: 105px;
    padding-left: 5px;
    border-left: dashed;
    border-color: rgba(248,248,248,.9);
}

.clear {
    clear: left; /* Отмена обтекания */
}
.clear_r{
    clear: right;
}
.sh{
    background: rgb(172, 226, 255);
    border: 1px solid rgba(0,0,0,.1);
    float: left;
    margin-left: 10px;
    margin-bottom: 6px;
    width: 99%;
    box-shadow: 0 0 20px rgba(0,10,0,.3);
    font: 12px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
}
.sh-f{
    background: rgb(172, 226, 255);
    border: 3px solid rgba(82, 82, 82, 0.75);
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 99%;
    box-shadow: 0 0 20px rgba(0,10,0,.3);
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
}
.sideOpen .main {
    left: 300px;
}
.sideOpen .menu {
    left: 0;
}

.menu{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*width: 20%;*/
    /*float: left;*/

    position: absolute;
    left: -300px;
    /*height: 100%;*/
    width: 300px;
    background: #FFF;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.menu:after {
    content: "";
    top: -10%;
    left: 200px;
    height: 120%;
    width: 150%;
    z-index: -1;
    /*position: absolute;*/
    /*-webkit-box-shadow: 0 0 20px 0 #ccc;*/
    /*box-shadow: 0 0 20px 0 #ccc;*/
}


.sideTrigger {
    float: left;
    padding-top: 75px;
}
.sideTriggerImg{
    position: fixed;
    opacity: 0.8;
    z-index: 1000;
    width: 35px;
    height: 50px;
    align: bottom;
}
.sh p{
    display: inline-block;
    /*vertical-align: middle;*/
}
.head{
    background: rgb(240, 255, 240);
    height: 10%;
    background-image: url("logo.png");
    background-position: left;
    background-repeat: no-repeat;
    font: 20px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #0d560d;
}
.sub-head{
    background: rgb(240, 255, 240);
    height: 8%;
    font: 20px/1.55 'Roboto', Helvetica, Arial, sans-serif;
    color: #0d560d;
}
.sub-page{
    background: rgb(240, 255, 240);
    /*height: 8%;*/
    font: 15px/1.55 'Roboto', Helvetica, Arial, sans-serif;
    color: #0d560d;
    margin-left: 30px;
}


.head p{position: relative; top: 30%; left: 20%;}
.main{
    width: 95%;
    float: left;
    margin-bottom:50px;
    position: relative;
    left: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

BODY {
    background: rgb(240, 255, 240);
    overflow-x: hidden;
    position: relative;
    height: 100%;}

A {
    text-decoration: none;
    color: #0d560d; /* Цвет ссылок */
    margin: 0;
    padding: 0;
    /*font-family: Arial, sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 150%;*/
    /*background: #eee;*/


}

A:visited {
    color: #0d560d; /* Цвет посещенных ссылок */
}

A:active {
    color: #0d560d; /* Цвет активных ссылок */
}



span
{
    font: 12px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
}

.sky-form-padd .button {
    background-color: #2da5da;
    opacity: 0.8;
    transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.sky-form-padd .button {
    float: center;
    height: 39px;
    overflow: hidden;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.sky-form-padd .button {
    position: relative;
    display: block;
}
.sky-form-padd * {
    margin: 0;
    padding: 0;
}
.sky-form-padd {
    margin: 0;
    outline: none;
    /* box-shadow: 0 0 20px rgba(0,0,0,.3); */
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
}
.selectBox {
    position: relative;
}

.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
.checkboxes {
    display: none;
    background-color: #f0fff0;
    border: 2px #cacaca solid;
}
.checkboxes label {
    display: block;
}

ul .m {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240, 255, 240);
}

li .m {
    float: left;
}
ul .reg {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    background-color: rgb(240, 255, 240);
}
.reg a{
    display: block;
    color: green;
    text-align: center;
    padding: 0 5 0 5;
    text-decoration: none;
    /*color: black;*/
    /*text-decoration: none;*/
    cursor: pointer;
}

li .reg {
    float: left;
}

.m a {
    display: block;
    color: green;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.m a:hover {
    background-color: rgb(10, 134, 66);
    color: black;
}
.activetab i {
    color: #f36301;
    border-bottom: solid;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    /*pointer-events: none;*/
}

/*.modalDialog:target {*/
    /*display: block;*/
    /*pointer-events: auto;*/
/*}*/

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    /*border-radius: 10px;*/
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #6fb679);*/
    /*background: -webkit-linear-gradient(#fff, #6fb679);*/
    /*background: -o-linear-gradient(#fff, #6fb679);*/
}
/*#cl:hover,*/
/*#cl:focus,*/
/*#myBtn:hover{*/
    /*color: black;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/